
<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center" style="width: 450px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <img src="/img/logo_empresa.png" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>
                    <form action="/ingresar" method="POST">
                        <div class="form-group row d-none">
                            <label class="col-sm-6 col-form-label-sm">RUC</label>
                            <div class="col-sm-6">
                                <input type="text" name="ruc" id="ruc_empresa" placeholder="ruc" class="form-control form-control-sm" value ="{{ruc}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="table-responsive table-hover col-sm-12">
                                    <table id="grid"></table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <img src="/img/icon_empresa.png" class="img-fluid" alt="Responsive image">
                            </div>
                            <div class="col-7">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <select id="select_punto_venta" class="form-control form-control-sm">
                                            <option>Punto de Venta</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <select id="select_unidad_negocio" class="form-control form-control-sm">
                                            <option>Unidad de Negocio</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <select id="select_centro_costos" class="form-control form-control-sm">
                                            <option>Centro Costos</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <input type="text" name="usuario" placeholder="Usuario" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <input type="password" name="clave" placeholder="Clave" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-print-block">
                            <input class="hidden" type="text" id="codigo_empresa" name="codigo_empresa" placeholder="codigo_empresa" value ="01" class="form-control">
                            <input class="hidden" type="text" id="codigo_punto_venta" name="codigo_punto_venta" placeholder="codigo_punto_venta" value ="001" class="form-control">
                            <input class="hidden" type="text" id="nombre_punto_venta" name="nombre_punto_venta" placeholder="nombre_punto_venta" value ="001" class="form-control">
                            <input class="hidden" type="text" id="codigo_centro_costos" name="codigo_centro_costos" placeholder="codigo_centro_costos" value ="00" class="form-control">
                            <input class="hidden" type="text" id="nombre_centro_costos" name="nombre_centro_costos" placeholder="nombre_centro_costos" value ="00" class="form-control">
                            <input class="hidden" type="text" id="codigo_unidad_negocio" name="codigo_unidad_negocio" placeholder="codigo_unidad_negocio" value ="00" class="form-control">
                            <input class="hidden" type="text" id="nombre_unidad_negocio" name="nombre_unidad_negocio" placeholder="nombre_unidad_negocio" value ="00" class="form-control">
                        </div>
                        <div class="form-group pt-3 mt-3">
                            <button class='btn btn-success btn-block btn-login' id="ingresar" disabled>Iniciar Sesion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="modal_tc">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tipo de Cambio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group sm">
            <label for="tc_venta">Venta</label>
            <input type="number" class="form-control form-control-sm" id="tc_venta" placeholder="TC Venta">
        </div>
        <div class="form-group sm">
            <label for="tc_compra">Compra</label>
            <input type="number" class="form-control form-control-sm" id="tc_compra" placeholder="TC Compra">
        </div>
        <div class="form-group sm">
            <small id="lbl_mensaje"></small>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary sm" id="registrar_tc">Registrar TC</button>
      </div>

    </div>
  </div>
</div> 
<script src="/js/ingresar_ruc.js"></script>
