<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="titulo_ventana">Cargando...</title>
    
    <link rel='stylesheet' href="/plugin/jquery-ui-themes@1.12.1/themes/redmond/jquery-ui.css">
    <link rel='stylesheet' href="/plugin/bootstrap@4.5.0/css/bootstrap.min.css">
    <link rel='stylesheet' href="/plugin/free-jqgrid@4.15.5/css/ui.jqgrid.min.css">
    <link rel='stylesheet' href='/plugin/free-jqgrid@4.15.5/plugins/css/ui.multiselect.min.css'>



    <link href="/css/styles.css" rel="stylesheet">

    <script src='/plugin/jquery-ui-dist@1.12.1/external/jquery/jquery.js'></script>
    <script src="/js/mensaje.js"></script>
</head>
<body id ="body">
    
   <div class="wrapper">
        {{> sidebar}}
        <div id="content">
            {{> header}}
            {{{body}}}
        </div>
    </div>
    {{> message}}
</body>
</html>


<script src='/plugin/popper.js@1.16.1/umd/popper.min.js'></script>
<script src='/plugin/bootstrap@4.5.0/js/bootstrap.min.js'></script>
<script src='/plugin/jquery-ui-dist@1.12.1/jquery-ui.js'></script>
<script src='/plugin/free-jqgrid@4.15.5/i18n/grid.locale-es.js'></script>
<script src='/plugin/free-jqgrid@4.15.5/jquery.jqgrid.min.js'></script>
<script src='/plugin/free-jqgrid@4.15.5/plugins/ui.multiselect.js'></script>


<script src="/js/utilitarios/fechas.js"></script>
{{#if user}}
<script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/globalize/globalize.js"></script>

<script src="https://kit.fontawesome.com/c6f1e55cf2.js" crossorigin="anonymous"></script>

<script src="/js/utilitarios/validaciones.js"></script>
<script src="/js/utilitarios/jquerytemplates.js"></script>
<script src="/js/utilitarios/printThis.js"></script>
<script src="/js/utilitarios/otros.js"></script>
<script src="/js/utilitarios/calculos.js"></script>
<script src="/plugins/exportar/exportExcel.js"></script>
<script src="/plugins/exportar/exportFormat.js"></script>
<script src="/js/utilitarios/exportar_excel.js"></script>

<script src="/plugins/exportar/FileSaver.min.js"></script>
<script src="/plugins/exportar/Blob.min.js"></script>
<script src="/plugins/exportar/xls.core.min.js"></script>
<script src="/plugins/exportar/tableexport.js"></script>
<script src="/plugins/exportar/xlsx.full.min.js"></script>
<script src="/plugins/exportar/FileSaver2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="/plugins/html2canvas.js"></script>

{{/if}}
