<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="titulo_ventana">Cargando...</title>
    
    <link rel='stylesheet' href="/plugins/jquery-ui-dist/jquery-ui.css">
    <link rel='stylesheet' href="/plugins/jquery-ui-themes/themes/redmond/jquery-ui.css">
    <link rel='stylesheet' href="/plugins/bootstrap/dist/css/bootstrap.min.css">

    {{!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> --}}
    {{!-- Google Fonts --}}
    {{!-- <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> --}}


    <link rel='stylesheet' href="/plugins/free-jqgrid/dist/css/ui.jqgrid.min.css">
    <link rel='stylesheet' href='/plugins/free-jqgrid/dist/plugins/css/ui.multiselect.css'>



    <link href="/css/styles.css" rel="stylesheet">

    <script src='/plugins/jquery-ui-dist/external/jquery/jquery.js'></script>
    <script src="/js/mensaje.js"></script>
</head>
<body id ="body">
    
   <div class="wrapper">
        {{> sidebar}}
        <div id="content">
            {{> header}}
            {{{body}}}
        </div>
    </div>
   
{{!-- <div class="d-none d-print-block print-page" id ="printer_block"></div> --}}
            {{> message}}
</body>
</html>


<script src='/plugins/popper.js/dist/popper.min.js'></script>
<script src='/plugins/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='/plugins/jquery-ui-dist/jquery-ui.js'></script>
<script src='/plugins/free-jqgrid/dist/i18n/grid.locale-es.js'></script>
<script src='/plugins/free-jqgrid/dist/jquery.jqgrid.min.js'></script>
<script src='/plugins/free-jqgrid/dist/plugins/ui.multiselect.js'></script>


<script src="/js/utilitarios/fechas.js"></script>
{{#if user}}
<script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/globalize/globalize.js"></script>
{{!-- <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/globalize/cultures/globalize.cultures.js"></script> --}}
{{!-- Fonts Awesome --}}
<script src="https://kit.fontawesome.com/c6f1e55cf2.js" crossorigin="anonymous"></script>
{{!-- <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script> --}}
<script src="/js/utilitarios/validaciones.js"></script>
<script src="/js/utilitarios/jquerytemplates.js"></script>
<script src="/js/utilitarios/printThis.js"></script>
<script src="/js/utilitarios/otros.js"></script>
<script src="/js/utilitarios/calculos.js"></script>
<script src="/plugins/exportar/exportExcel.js"></script>
<script src="/plugins/exportar/exportFormat.js"></script>
{{!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script> --}}
<script src="/js/utilitarios/exportar_excel.js"></script>

<script src="/plugins/exportar/FileSaver.min.js"></script>
<script src="/plugins/exportar/Blob.min.js"></script>
<script src="/plugins/exportar/xls.core.min.js"></script>
<script src="/plugins/exportar/tableexport.js"></script>
<script src="/plugins/exportar/xlsx.full.min.js"></script>
<script src="/plugins/exportar/FileSaver2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="/plugins/html2canvas.js"></script>

{{/if}}
{{!-- <script src="https://sistemasdemos.com/gratis/exportar_html_excel/FileSaver.min.js"></script>
<script src="https://sistemasdemos.com/gratis/exportar_html_excel/Blob.min.js"></script>
<script src="https://sistemasdemos.com/gratis/exportar_html_excel/xls.core.min.js"></script>
<script src="https://sistemasdemos.com/gratis/exportar_html_excel/dist/js/tableexport.js"></script> --}}
