
{{!-- <div class="row">
    <div class="col-lg-12">
        <h6>jhgkjgsdhdlf</h6>
    </div>
</div> --}}



<table id="lista_configuracion_cobrador"></table>

{{> mantenimientos/lista_mantenimientos}}

<script src="/js/modulos/punto_venta/configuracion_cobrador.js"></script