
{{#if user}}
<ul class="nav nav-tabs tabs group pl-4" id="myTab" role="tablist">
  <li class="nav-item active nav-tab-rounded">
    <a class="active my-0 py-2" data-toggle="tab" href="#generales">Datos Generales</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#profile">Datos Complementarios</a>
  </li>
</ul>

<div class="tab-content mr-3" id="myTabContent">
    <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="generales-tab">
        <div class="container-fluid border">
            <div class="row border">
                <div class="col-lg-9 border">
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <div class="input-group">
                                <select class="form-control form-control-sm" id="tipo">
                                    <option value="DIRECTA">Directa</option>
                                    <option value="ORDEN DE COMPRA">Orden De Compra</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="input-group form-control-sm-group-serie">
                                <label class="sm input-group-text py-0 border-right-0" for="fecha_doc" style="background:#e9ecef;border-top-right-radius:0px;border-bottom-right-radius:0px">Fecha Dep.:</label>
                                <input type="date" id="fecha_deposito" class="form-control form-control-sm no-calendar border-left-0 pl-0" style=";border-top-left-radius:0px;border-bottom-left-radius:0px" disabled="">
                                <div class="form-check form-check-inline  form-control-sm-erp ml-4">
                                    <input class="form-check-input" type="radio" name="correlativo" id="automatico" value="automatico">
                                    <label class="form-check-label col-form-label-sm" for="automatico">Automático</label>
                                </div>
                                <div class="form-check form-check-inline  form-control-sm-erp">
                                    <input class="form-check-input" type="radio" name="correlativo" id="manual" value="manual">
                                    <label class="form-check-label col-form-label-sm" for="manual">Manual</label>
                                </div>
                                <input type="text" id="numero_correlativo" class="form-control form-control-sm text-right px-4" placeholder="Número Desp" disabled="">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <input type="text" id="numero_expediente" class="form-control form-control-sm" placeholder="N. Exp. O/C">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <input type="text" id="numero_referencia" class="form-control form-control-sm" placeholder="Numero Referencia">
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="serie_factura" class="input-group-text form-control form-control-sm">Invoice/Factura:</label>
                                </div>
                                <input type="text" id="serie_factura" class="form-control form-control-sm " placeholder="Serie">
                                <input type="text" id="numero_factura" class="form-control form-control-sm " placeholder="Número">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group">
                                <label class="sm input-group-text py-0 border-right-0" for="fecha_validez" style="background:#fff;border-top-right-radius:0px;border-bottom-right-radius:0px">F. Embarque:</label>
                                <input type="date" id="fecha_embarque" class="form-control form-control-sm border-left-0 pl-0 calendar-sm" style=";border-top-left-radius:0px;border-bottom-left-radius:0px">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="codigo_proveedor" class="form-control form-control-sm c_mantenimientos" placeholder="Codigo del Proveedor">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <div class="input-group">
                                <label class="sm input-group-text py-0 border-right-0" for="fecha_doc" style="background:#fff;border-top-right-radius:0px;border-bottom-right-radius:0px">Fecha Doc.:</label>
                                <input type="date" id="fecha_doc" class="form-control form-control-sm border-left-0 pl-0 calendar-sm" style="border-top-left-radius:0px;border-bottom-left-radius:0px">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="serie_dua_guia" class="input-group-text form-control form-control-sm">N° Dua/Guia R.:</label>
                                </div>
                                <input type="text" id="serie_dua_guia" class="form-control form-control-sm " placeholder="Serie">
                                <input type="text" id="numero_dua_guia" class="form-control form-control-sm " placeholder="Número">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group">
                                <label class="sm input-group-text py-0 border-right-0" for="fecha_llegada" style="background:#fff;border-top-right-radius:0px;border-bottom-right-radius:0px">F. LLegada:</label>
                                <input type="date" id="fecha_llegada" class="form-control form-control-sm border-left-0 pl-0 calendar-sm" style=";border-top-left-radius:0px;border-bottom-left-radius:0px">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="nombre_proveedor" class="form-control form-control-sm" placeholder="Nombre del Proveedor">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <select class="form-control form-control-sm" id="documento_referencia2">
                            </select>
                            {{!-- <input type="text" id="documento_referencia2" class="form-control form-control-sm" placeholder="Tipo Doc. Referencia 2"> --}}
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group form-control-sm-erp form-control-sm-group-moneda">
                                <select class="form-control form-control-sm form-control-sm-moneda no-spin" id="moneda"><option value="S/">S/</option><option value="$">$</option></select>
                                <select class=" form-control form-control-sm " id="tipo_cambio"><option value="VTA">Venta</option><option value="COM">Compra</option><option value="ESP">Especial </option></select>
                                <input type="number" class="form-control form-control-sm text-right no-spin-number form-control-sm-tasa-cambio" id="tasa_cambio" disabled="">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <select class="form-control form-control-sm" id="centro_costos">
                            </select>
                        </div>
                        <div class="col-xl-3">
                            <input type="text" id="numero_importacion" class="form-control form-control-sm" placeholder="N° Import.">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <input type="text" id="motivo_referencia2" class="form-control form-control-sm" placeholder="Motivo Referencia2">
                        </div>
                        <div class="col-xl-9">
                            <input type="text" id="agente_aduana" class="form-control form-control-sm" placeholder="Agente Aduana">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <input type="text" id="numero_referencia2" class="form-control form-control-sm" placeholder="Numero Referencia2">
                        </div>
                        <div class="col-xl-3">
                            <input type="text" id="vapor_air" class="form-control form-control-sm" placeholder="Vapor/Air">
                        </div>
                        <div class="col-xl-4">
                            <input type="text" id="guia_transporte" class="form-control form-control-sm" placeholder="N° B.L/Guia Transport">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px">
                                    <label for="interes" class="input-group-text form-control form-control-sm">Interes</label>
                                </div>
                                <input type="number" id="interes" class="form-control form-control-sm text-right" placeholder="Interes">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group">
                                <label class="sm input-group-text py-0 border-right-0" for="fecha_declaracion" style="background:#fff;border-top-right-radius:0px;border-bottom-right-radius:0px">Fecha Declaracion:</label>
                                <input type="date" id="fecha_declaracion" class="form-control form-control-sm border-left-0 pl-0 calendar-sm" style=";border-top-left-radius:0px;border-bottom-left-radius:0px">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <input type="text" id="numero_declaracion" class="form-control form-control-sm" placeholder="N° Declaracion">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px">
                                    <label for="advalorem" class="input-group-text form-control form-control-sm">Advalorem</label>
                                </div>
                                <input type="number" id="advalorem" class="form-control form-control-sm text-right" placeholder="Advalorem">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="convenio" class="input-group-text form-control form-control-sm">Convenio(TLC):</label>
                                </div>
                                <input type="text" id="convenio" class="form-control form-control-sm " >
                                <input type="number" id="monto_convenio" class="form-control form-control-sm " >
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px">
                                    <label for="sobretasa" class="input-group-text form-control form-control-sm">Sobretasa</label>
                                </div>
                                <input type="number" id="sobretasa" class="form-control form-control-sm text-right" placeholder="Sobretasa">
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-3">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px">
                                    <label for="ipm" class="input-group-text form-control form-control-sm">IPM(2%)</label>
                                </div>
                                <input type="number" id="ipm" class="form-control form-control-sm text-right" placeholder="IPM(2%)">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px">
                                    <label for="igv" class="input-group-text form-control form-control-sm">I.G.V.(16%)</label>
                                </div>
                                <input type="number" id="igv" class="form-control form-control-sm text-right" placeholder="I.G.V.(16%)">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px">
                                    <label for="isc" class="input-group-text form-control form-control-sm">ISC</label>
                                </div>
                                <input type="number" id="isc" class="form-control form-control-sm text-right" placeholder="ISC">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px">
                                    <label for="percepcion" class="input-group-text form-control form-control-sm">Percepcion</label>
                                </div>
                                <input type="number" id="percepcion" class="form-control form-control-sm text-right" placeholder="Percepcion">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 border">
                    <div class="row my-1">      
                        <div class="col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px;">
                                    <label for="tipo_via" class="input-group-text form-control form-control-sm">Tipo Via:</label>
                                </div>
                                <select class="form-control form-control-sm" id="tipo_via">
                                    <option value="M">Maritimo</option>
                                    <option value="A">Aerio</option>
                                    <option value="T">Terrestre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">      
                        <div class="col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px;">
                                    <label for="incoterm" class="input-group-text form-control form-control-sm">Incoterm:</label>
                                </div>
                                <select class="form-control form-control-sm" id="incoterm">
                                </select>
                                <input type="number" id="numero_inconterm" class="form-control form-control-sm text-right" placeholder="Número">
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">      
                        <div class="col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px;">
                                    <label for="flete" class="input-group-text form-control form-control-sm">Flete:</label>
                                </div>
                                <input type="number" id="flete" class="form-control form-control-sm text-right focusIn">
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">      
                        <div class="col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px;">
                                    <label for="seguro" class="input-group-text form-control form-control-sm">Seguro:</label>
                                </div>
                                <input type="number" id="seguro" class="form-control form-control-sm text-right">
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px;">
                                    <label for="otros" class="input-group-text form-control form-control-sm">Otros:</label>
                                </div>
                                <input type="number" id="otros" class="form-control form-control-sm text-right">
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-12">
                            <div class="input-group">
                                <div class="input-group-prepend" style="width: 80px;">
                                    <label for="total_cif" class="input-group-text form-control form-control-sm">Total CIF:</label>
                                </div>
                                <input type="number" id="total_cif" class="form-control form-control-sm text-right">
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col-lg-2 border">
                </div> --}}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container-fluid border">
            <div class="row border">
                <div class="col-lg-6 border">
                    <div class="row my-1">
                    </div>
                </div>
                <div class="col-lg-6 border">
                    <div class="row my-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
    {{!-- <input id="user-Ventas_Mas_Igv" type="text" value="{{user.ventas_mas_igv}}">
    <input id="user-Unidad_negocio" type="text" value="{{user.codigo_unidad_negocio}}"> --}}
    <input id="user-codigo_centro_costos" type="text" value="{{user.codigo_centro_costos}}">
    <input id="user-codigo_ninguno" type="text" value="00">
    <input id="user-Busqueda_Punto_Venta" type="text" value="{{user.globales_busqueda_pto_venta}}">
    <input id="modulo_formatos" type="text" value="orden_compra">
    
</div>

{{!-- {{> mantenimientos/ventas_pendientes}} --}}
{{> mantenimientos/lista_mantenimientos}}
{{> mantenimientos/detalle_importacion}}
{{!-- {{> mantenimientos/documentos_listas}}
{{> mantenimientos/formato_impresion}} --}}

<script src="/js/mantenimientos/cabecera_importacion.js"></script>
<script src="/js/modulos/compras/dua.js"></script>
{{/if}}
