<div class="container-fluid border mt-2 pt-2">
    <div class="row">
        <div class="col d-none" id ="modulo">{{modulo}}</div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="lista_documentos"></table>
            <div id="lista_documentos_pager"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <table id="detalle_documentos"></table>
        </div>
    </div>
</div>

<script src="/js/modulos/mantenimientos/eliminar_saldos.js"></script>