{{#if user}}
<div class="row d-none">
    <div class="col" id ="modulo_tablas">{{modulo}}</div>
</div>

<div class="pt-2 pl-2">
    <table id="reporte-documentos"></table>
    <div id="reporte-documentos-pager" style="text-align:center" > </div>
</div>

{{> mantenimientos/lista_mantenimientos}}
<script src="/js/modulos/mantenimientos/tablas.js"></script>

{{!-- <script src="/js/mantenimientos/cabecera_ventas.js"></script> --}}
<script src="/js/mantenimientos/lista_mantenimientos.js"></script>

{{/if}}


