{{#if user}}
<div class="d-print-none" id = "reporte-documento-body">
    <div class="row  d-none">
            <div class="col" id ="modulo">{{modulo}}</div>
            <input id="modulo_reportes" type="text" value="{{modulo}}">
        </div>
    <ul class="nav nav-tabs tabs group pl-4" id="myTab" role="tablist">
    <li class="nav-item active nav-tab-rounded">
        <a class="active my-0 py-2" data-toggle="tab" href="#generales">Filtros</a>
    </li>
    </ul>

    <div class="tab-content mr-3" id="myTabContent">
        <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="generales-tab">
            <div class="container-fluid border">
                <div class="row">
                    <div class="col-md-12 border">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <label for="punto_venta" class="col-md-2 col-form-label col-form-label-sm">Punto de Venta</label>
                                    <select class="col-md-4 form-control form-control-sm" id="punto_venta">
                                    </select>
                                    <label for="almacen" class="col-md-2 col-form-label col-form-label-sm">Almacén</label>
                                    <select class="col-md-4 form-control form-control-sm" id="almacen">
                                    </select>
                                    <label for="tipo_producto" class="col-md-2 col-form-label col-form-label-sm">Tipo de Productos</label>
                                    <select class="col-md-4 form-control form-control-sm" id="tipo_producto">
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <label for="tipo_stock" class="col-md-2 col-form-label col-form-label-sm">Ver Stock</label>
                                    <select class="col-md-4 form-control form-control-sm" id="tipo_stock">
                                        <option value="(TODOS)">Todos</option>
                                        <option value="sin">Sin Stock</option>
                                        <option value="con">Con Stock</option>
                                    </select>
                                    <label for="moneda" class="col-md-2 col-form-label col-form-label-sm">Moneda</label>
                                    <select class="col-md-4 form-control form-control-sm" id="moneda">
                                        <option value="S/">S/</option>
                                        <option value="$">$</option>
                                    </select>
                                    <button type="button" class="col-md-6 form-control form-control-sm btn btn-primary btn-block" id ="filtrar">Filtrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="table_grid"></table>
    
    <div class="d-none">
        <input id="user-punto_venta" type="text" value="{{user.codigo_punto_venta}}">
        <input id="user-almacen" type="text" value="{{user.almacen_relacionado}}">
    </div>
</div>
<div id = "reporte_print" class="d-none d-print-block ">

</div>

<div class="modal-print-backdrop print_container d---none"></div>

<div id ="contenedor_impresion" class="print_container d---none" tabindex="0" >
    <div id ="formato_impresion" class="mx-auto">
        <div id = "print_page" style="font-size:10px">
                <div class="print_header" style="height: 185px; font-weight:700;">
                    <div class="row" style="margin-top:5px">
                        <div style="width: 150px; margin-left:15px; text-align:center;"></div>
                        <div style="width: 700px; text-align:center;font-size:14px; color:maroon;"><u>REGISTRO DE INVENTARIO PERMANENTE VALORIZADO</u></div>
                        <div style="width: 150px; text-align:right;" id="print_paginacion">print_header_paginacion</div>
                    </div>
                    <div class="row">
                        <div style="width: 150px; margin-left:15px; text-align:center;"></div>
                        <div style="width: 700px; text-align:center;font-size:14px; color:maroon;"><u>DETALLE DEL INVENTARIO VALORIZADO</u></div>
                        <div style="width: 150px; text-align:right;">print_header_fecha_pagina</div>
                    </div>
                    <div class="row" style="padding-bottom:5px">
                        <div style="width: 150px; margin-left:15px; text-align:center;"></div>
                        <div style="width: 700px; text-align:center;font-size:14px; color:maroon;" class="print_header_fecha_intervalo">
                        </div>
                        <div style="width: 150px; text-align:right;"></div>
                    </div>
                    <div class="row" style="color: dodgerblue; font-size:11px;">
                        <div style="width: 200px; text-align:right; margin-left:15px;">PERIODO:</div>
                        <div style="width: 500px; margin-left:5px; text-align:left;" class="print_header_periodo"></div>
                        <div style="width: 200px; text-align:right;">PTO. DE VENTA:</div>
                        <div style="width: 150px; margin-left:5px; text-align:left;" class="print_header_punto_venta"></div>
                    </div>
                    <div class="row" style="color: dodgerblue; font-size:11px;">
                        <div style="width: 200px; text-align:right; margin-left:15px;">R.U.C.:</div>
                        <div style="width: 500px; margin-left:5px; text-align:left;" class="print_header_ruc"></div>
                        <div style="width: 200px; Text-align:right;">ALMACÉN:</div>
                        <div style="width: 150px; margin-left:5px; text-align:left;" class="print_header_almacen"></div>
                    </div>
                    <div class="row" style="color: dodgerblue; font-size:11px;">
                        <div style="width: 200px; text-align:right; margin-left:15px;">RAZON SOCIAL:</div>
                        <div style="width: 500px; margin-left:5px; text-align:left;" class="print_header_razon_social"></div>
                    </div>
                    <div class="row" style="color: dodgerblue; font-size:11px;">
                        <div style="width: 200px; text-align:right; margin-left:15px;">ESTABLECIMIENTO:</div>
                        <div style="width: 500px; margin-left:5px; text-align:left;" class="print_header_direccion"></div>
                    </div>
                    <div class="row" style="color: dodgerblue; font-size:11px;">
                        <div style="width: 200px; text-align:right; margin-left:15px;">MÉTODO DE EVALUACIÓN:</div>
                        <div style="width: 500px; margin-left:5px; text-align:left;">PROMEDIO PONDERADO</div>
                    </div>
                    <div class="row align-items-center" style="text-align:center">
                        <div style="width: 250px; margin-left:15px; border:1px solid black;">DOCUMENTO DE TRASLADO COMPROBANTE</div>
                        <div style="width: 50px; border:1px solid black; border-bottom:1px solid white">TIPO</div>
                        <div style="width: 250px; border:1px solid black;">ENTRADAS</div>
                        <div style="width: 250px; border:1px solid black;">SALIDAS</div>
                        <div style="width: 250px; border:1px solid black;">SALDOS</div>
                    </div>
                    <div class="row align-items-center" style="text-align:center">
                        <div style="width: 80px; margin-left:15px; border:1px solid black;">FECHA</div>
                        <div style="width: 50px; border:1px solid black">TIPO</div>
                        <div style="width: 120px; border:1px solid black;">DOCUMENTO</div>
                        <div style="width: 50px; border:1px solid black; border-top:1px solid white">OPER.</div>
                        <div style="width: 80px; border:1px solid black;">CANTIDAD</div>
                        <div style="width: 90px; border:1px solid black">COSTO UNITARIO</div>
                        <div style="width: 80px; border:1px solid black;">COSTO TOTAL</div>
                        <div style="width: 80px; border:1px solid black;">CANTIDAD</div>
                        <div style="width: 90px; border:1px solid black">COSTO UNITARIO</div>
                        <div style="width: 80px; border:1px solid black;">COSTO TOTAL</div>
                        <div style="width: 80px; border:1px solid black;">CANTIDAD</div>
                        <div style="width: 90px; border:1px solid black">COSTO UNITARIO</div>
                        <div style="width: 80px; border:1px solid black;">COSTO TOTAL</div>
                    </div>
                </div>

                <div class="print_body">
                    <div id="print_body_fila_detalle_1">
                        <div id ="fila_1" class="print_body_filas_id row">
                            
                            <div id ="print_body_agrupacion" class="row align-items-center" style="margin-left: 15px; margin-right: 15px; border-bottom: 2px solid black; margin-top:10px; padding-bottom:10px; color: dodgerblue;  font-weight:700;">
                                <div class="row">
                                    <div style="width: 150px; margin-left:15px; text-align:right;">COD. EXISTENCIA : </div>
                                    <div style="width: 150px; margin-left:15px; text-align:left;">print_body_codigo</div>
                                    <div style="width: 100px; margin-left:15px; text-align:right;">NRO. SERIE : </div>
                                    <div style="width: 100px; margin-left:15px; text-align:left;">print_body_nro_serie</div>
                                    <div style="width: 330px; margin-left:15px; text-align:right;">UNIDAD DE MEDIDA : </div>
                                    <div style="width: 150px; margin-left:15px; text-align:left;">print_body_unidad</div>
                                </div>
                                <div class="row">
                                    <div style="width: 150px; margin-left:15px; text-align:right;">TIPO : </div>
                                    <div style="width: 560px; margin-left:15px; text-align:left;">print_body_tipo_producto</div>
                                    <div style="width: 150px; margin-left:15px; text-align:right;">FAMILIA : </div>
                                    <div style="width: 150px; margin-left:15px; text-align:left;">print_body_familia</div>
                                </div>
                                <div class="row">
                                    <div style="width: 150px; margin-left:15px; text-align:right;">DESCRIPCÓN : </div>
                                    <div style="width: 560px; margin-left:15px; text-align:left;">print_body_descripcion</div>
                                    <div style="width: 150px; margin-left:15px; text-align:right;">SUBFAMILIA : </div>
                                    <div style="width: 150px; margin-left:15px; text-align:left;">print_body_subfamilia</div>
                                </div>
                            </div>


                            <div class="row align-items-center" style="margin-left: 0px; magin-top:5px; margin-bottom:5px">
                                <div style="width: 250px; margin-left:15px; text-align:center;">
                                    <div class="row">
                                        <div style="width: 80px; margin-left:15px;">Documento_Fecha</div>
                                        <div style="width: 50px;">Documento_Tipo</div>
                                        <div style="width: 120px;">Documento_Numero</div>
                                    </div>
                                </div>
                                <div style="width: 50px; text-align:center;" id="print_detalle_documento_operacion0"></div>
                                <div style="width: 250px; text-align:right;">
                                    <div class="row">
                                        <div style="width: 80px; margin-left:15px; visibility: hidden">Producto_Entrada_Cantidad</div>
                                        <div style="width: 90px; visibility: hidden">Producto_Entrada_Costo_Unitario</div>
                                        <div style="width: 80px; visibility: hidden">Producto_Entrada_Costo_Total</div>
                                    </div>
                                </div>
                                <div style="width: 250px; text-align:right;">
                                    <div class="row">
                                        <div style="width: 80px; margin-left:15px; visibility: hidden">Producto_Salida_Cantidad</div>
                                        <div style="width: 90px; visibility: hidden">Producto_Salida_Costo_Unitario</div>
                                        <div style="width: 80px; visibility: hidden">Producto_Salida_Costo_Total</div>
                                    </div>
                                </div>
                                <div style="width: 250px; text-align:right;">
                                    <div class="row">
                                        <div style="width: 80px; margin-left:15px;">Producto_Saldo_Cantidad</div>
                                        <div style="width: 90px;">Producto_Saldo_Costo_Unitario</div>
                                        <div style="width: 80px;">Producto_Saldo_Costo_Total</div>
                                    </div>
                                </div>
                            </div>
                                
                            <div id ="print_body_totales" class="row align-items-center" style="margin-left: 15px; margin-right: 15px; border-bottom: 2px solid black; color: maroon">
                                <div style="width: 285px; margin-left:15px; text-align:right;">
                                    <div class="row">
                                        <div style="width: 285px; margin-left:15px;">Producto_Total_Agrupacion</div>
                                    </div>
                                </div>
                                <div style="width: 250px; text-align:right;">
                                    <div class="row">
                                        <div style="width: 80px; margin-left:15px;">Producto_Entrada_Cantidad_Sumatoria</div>
                                        <div style="width: 90px; visibility: hidden">Producto_Entrada_Costo_Unitario_Sumatoria</div>
                                        <div style="width: 80px;">Producto_Entrada_Costo_Total_Sumatoria</div>
                                    </div>
                                </div>
                                <div style="width: 250px; text-align:right;">
                                    <div class="row">
                                        <div style="width: 80px; margin-left:15px;">Producto_Salida_Cantidad_Sumatoria</div>
                                        <div style="width: 90px; visibility: hidden">Producto_Salida_Costo_Unitario_Sumatoria</div>
                                        <div style="width: 80px;">Producto_Salida_Costo_Total_Sumatoria</div>
                                    </div>
                                </div>
                                <div style="width: 250px; text-align:right;">
                                    <div class="row">
                                        <div style="width: 80px; margin-left:15px; visibility: hidden">Producto_Saldo_Cantidad_Sumatoria</div>
                                        <div style="width: 90px; visibility: hidden">Producto_Saldo_Costo_Unitario_Sumatoria</div>
                                        <div style="width: 80px; visibility: hidden">Producto_Saldo_Costo_Total_Sumatoria</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="print_footer" style="height: 50px;">
                    
                        
                    <div class="row align-items-center" style="margin-left: 0px; margin-right: 0px; border-top: 0.5px solid black; color: maroon; font-weight:700">
                        <div style="width: 285px; margin-left:15px; text-align:right;">
                            <div class="row">
                                <div style="width: 285px; margin-left:15px;">Total ---------></div>
                            </div>
                        </div>
                        <div style="width: 250px; text-align:right;">
                            <div class="row">
                                <div id="Producto_Entrada_Cantidad_Total" style="width: 80px; margin-left:15px;"></div>
                                <div id="Producto_Entrada_Costo_Unitario_Total" style="width: 90px;"></div>
                                <div id="Producto_Entrada_Costo_Total_Total" style="width: 80px;"></div>
                            </div>
                        </div>
                        <div style="width: 250px; text-align:right;">
                            <div class="row">
                                <div id="Producto_Salida_Cantidad_Total" style="width: 80px; margin-left:15px;"></div>
                                <div id="Producto_Salida_Costo_Unitario_Total" style="width: 90px;"></div>
                                <div id="Producto_Salida_Costo_Total_Total" style="width: 80px;"></div>
                            </div>
                        </div>
                        <div style="width: 250px; text-align:right;">
                            <div class="row">
                                <div id="Producto_Saldo_Cantidad_Total" style="width: 250px; margin-left:15px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breaker d-print-none">

                </div>
            </div>
        </div>
    </div>
</div>
<div id ="print_botones_top" class="print_container d---none"></div>
<div id ="print_botones" class="print_container d---none">
  <a class="print_botones_onedrive" role="button">
      <svg class="svg-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z"/></svg>
  </a>
  <a class="print_botones_imprimir" role="button">
      <svg class="svg-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 20h-6v-1h6v1zm10-15v13h-4v6h-16v-6h-4v-13h4v-5h16v5h4zm-6 10h-12v7h12v-7zm0-13h-12v3h12v-3zm4 5.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5.224.5.5.5.5-.224.5-.5zm-6 9.5h-8v1h8v-1z"/></svg>
  </a>
  <a class="print_botones_descargar" role="button">
      <svg class="svg-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 21l-8-9h6v-12h4v12h6l-8 9zm9-1v2h-18v-2h-2v4h22v-4h-2z"/></svg>
  </a>
</div>

<div id ="print_botones2" class="print_container d---none">
  <a class="print_botones_atras" role="button">
      <svg class="svg-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 12l9-8v6h15v4h-15v6z"/></svg>
  </a>
</div>

<div id ="print_rango_fechas" class="print_container d---none">
    <div class="form-group row my-05 py-05" style="margin-left: 15px; margin-right:15px;">
        <label for="kardex_fecha_inicial" class="col-sm-5 col-form-label col-form-label-sm">Fecha Inicial:</label>
        <input type="date" id="kardex_fecha_inicial" class="col-sm-7 form-control form-control-sm m-0 p-0">
    </div>
    <div class="form-group row my-05 py-05" style="margin-left: 15px; margin-right:15px;">
        <label for="kardex_fecha_final" class="col-sm-5 col-form-label col-form-label-sm">Fecha Final:</label>
        <input type="date" id="kardex_fecha_final" class="col-sm-7 form-control form-control-sm m-0 p-0">
    </div>
</div>

<div id="print_moneda" class="col-sm-7 form-check form-check-inline print_container d---none">
    <label for="print_moneda_select" class="col-sm-8 col-form-label col-form-label-sm">Moneda:</label>
    <select class="col-sm-4 form-control form-control-sm m-0 p-0" id="print_moneda_select"><option value="S/">S/</option><option value="$">$</option></select>
</div>
<script src="/js/modulos/almacen/kardex_serie.js"></script>

{{/if}}


