
<!DOCTYPE html>

<html lang="en">
<head>
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/free-jqgrid@4.15.5/css/ui.jqgrid.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/free-jqgrid/4.8.0/plugins/ui.multiselect.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> --}}
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://cdn.jsdelivr.net/free-jqgrid/4.8.0/js/i18n/grid.locale-es.js"></script>
    
    <script type="text/ecmascript" src="/prueba/jquery.jqGrid.min.js"></script> 
    {{!-- <script src="https://cdn.jsdelivr.net/npm/free-jqgrid@4.15.5/js/jquery.jqgrid.min.js"></script> --}}
    
{{!-- <script src="/js/trials/jqgrid/js/jquery.jqGrid.min.js"></script> --}}

    <script src="http://cdn.jsdelivr.net/free-jqgrid/4.8.0/plugins/ui.multiselect.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/globalize/globalize.js"></script>
    <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/globalize/cultures/globalize.cultures.js"></script>
  
    <script type="text/javascript" src="http://www.ok-soft-gmbh.com/jqGrid/jquery-ui-timepicker-addon.js"></script>

    
	<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.20/build/pdfmake.min.js">	</script>
	<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.20/build/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    {{!-- Fonts Awesome --}}
    <script src="https://kit.fontawesome.com/c6f1e55cf2.js" crossorigin="anonymous"></script>
    
    <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>

    <link href="/css/styles.css" rel="stylesheet">

    <script src="/js/mensaje.js"></script>
{{!--     
    <script type="text/ecmascript" src="/prueba/jquery.min.js"></script> 
    <!-- This is the Javascript file of jqGrid -->   
    <script type="text/ecmascript" src="/prueba/jquery.jqGrid.min.js"></script> 
    <!-- This is the localization file of the grid controlling messages, labels, etc.
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="/prueba/grid.locale-en.js"></script> 
	<!-- Load pdfmake, jszip lib files -->
	<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.20/build/pdfmake.min.js">	</script>
	<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.20/build/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
	
    <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
    <link rel="stylesheet" type="text/css" media="screen" href="/prueba/jquery-ui.css" />
    <!-- The link to the CSS that the grid needs -->
    <link rel="stylesheet" type="text/css" media="screen" href="/prueba/ui.jqgrid.css" /> --}}
    <meta charset="utf-8" />
    <title>jqGrid Loading Data - Grouping By Multiple Columns With Footer Summaries</title>
</head>
<body>

    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
	<button id="csv">CSV</button>
	<button id="excel">Excel</button>
	<button id="pdf">PDF</button>

    <script type="text/javascript"> 
    
        $(document).ready(function () {
            $("#jqGrid").jqGrid({
                url: 'data.json',
                mtype: "GET",
                datatype: "json",
                colModel: [
                    { label: 'OrderID', name: 'OrderID', key: true, width: 75 },
 					{ label: 'Customer ID', name: 'CustomerID', width: 150 },
                    { label: 'Order Date', name: 'OrderDate', width: 150 },
                    { 
						label: 'Freight', 
						name: 'Freight', 
						width: 150,
						formatter: 'number',
						summaryTpl : "Sum: {0}",
						summaryType: "sum"
					},
                    { label: 'Employee ID', name: 'EmployeeID', width: 150 }
                ],
				loadonce:true,
				viewrecords: true,
                width: 780,
                height: 250,
                rowNum: 20,
				rowList: [20,30,50],
				sortname: 'OrderDate',
                pager: "#jqGridPager",
                grouping: true,
                groupingView: {
                    groupField: ["CustomerID", "EmployeeID"],
                    groupColumnShow: [true, true],
                    groupText: ["CustomerID: <b>{0}</b>", "EmployeeID: <b>{0}</b>"],
                    groupOrder: ["asc", "asc"],
                    groupSummary: [true, false],
                    groupCollapse: false
                }
            });
			$("#pdf").on("click", function(){
				$('#jqGrid').jqGrid('exportToPdf');
			});
			$("#excel").on("click", function(){
				$('#jqGrid').jqGrid('exportToExcel');
			});
			$("#csv").on("click", function(){
				$('#jqGrid').jqGrid('exportToCsv');
			});			
        });
    </script>

    <!-- This code is related to code tabs -->
    <script type="text/ecmascript" src="/prueba/jquery-ui.min.js"></script>
    
    <!-- End of code related to code tabs -->
</body>
</html>


<script src="/js/utilitarios/validaciones.js"></script>
<script src="/js/utilitarios/jquerytemplates.js"></script>
<script src="/js/utilitarios/printThis.js"></script>
<script src="/js/utilitarios/fechas.js"></script>
<script src="/js/utilitarios/otros.js"></script>
<script src="/js/utilitarios/calculos.js"></script>
<script src="/plugins/exportar/exportExcel.js"></script>
<script src="/plugins/exportar/exportFormat.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src="/js/utilitarios/exportar_excel.js"></script>
