
{{#if user}}
<div id="tipo_documento" class="d-none">{{tipo_documento}}</div>
<div id="motivo_serie_documento" class="d-none">{{motivo_serie_documento}}</div>

<link href="/css/formatos.css" rel="stylesheet">

<div class="container-fluid droppable pt-2">
    <div class="row">
        <div class="col-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active my-0 pd-0" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="generales" aria-selected="true">Campos</a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link my-0 pd-0" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false">Propiedades</a>
            </li> --}}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                    <div class="row pt-2  border border-info m-0 ">
                        <div class="col-12">
                            <div class="table-responsive sm" id ="tables_500">
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th class='no-wrap'>Campo</th>
                                            <th class='no-wrap'>Tamaño</th>
                                            <th class='no-wrap'>Alineamiento Texto</th>
                                            <th class='no-wrap'>Alineamiento Campo</th>
                                            <th class='no-wrap'>Negrita</th>
                                            <th class='no-wrap'>Bordes</th>
                                        </tr>
                                    </thead>
                                    <tbody id ="campos_propiedades">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel">
                    <div class="row pt-2  border border-info m-0 ">
                        <div class="col-12">
                            <div class="row">
                                {{!-- <div class="table-responsive sm" id ="campos_propiedades">
                                
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 p-0">
            <div class="container border border-info resizable" id ="formato_impresion" >
                <div class="row">
                    <div class="col-12">
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/modulos/configuraciones/formato.js"></script>

{{/if}}