{{!-- detalle de contable --}}
<div class="d-print-none">
<table id="grid_detalle_contable"></table>
<div id="grid_detalle_contable_pager"></div>
</div>
{{!-- detalle de contable --}}

<table id="grid_detalle_contable"></table>
<div id="grid_detalle_contable_pager"></div>

<script src="/js/mantenimientos/detalle_contable.js"></script>