

 <!-- Modal Lista -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_permisos">
  <div class="modal-dialog-full-width modal-dialog">
    <div class="modal-content-full-width modal-content">
      <div class="modal-header-full-width modal-header">
        <div class="row" >
          <ul class="list-group list-group-horizontal-sm" style="list-style-type: none;">
            <li class="list-group px-4">
              <h4 class="modal-title titulos_erp" id ="modal_title_permisos">Titulo</h4>
            </li>
            <li class="nav-item">
                <button type="button" class="btn m-0 p-0" id ="guardar_1" data-toggle="tooltip" data-placement="top" title="Guardar">
                    <img src="/img/guardar_1.png" ></img>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn m-0 p-0" id ="restablecer_1" data-toggle="tooltip" data-placement="top" title="Restablecer Permisos">
                    <img src="/img/modificar_1.png" ></img>
                </button>
            </li>
          </ul>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <div class="row">
              <div class="col-md-3">
                <form class="m-0 p-0">
                    <div class="form-group row my-05 py-05">
                        <label for="tablas_permiso_codigo" class="col-sm-4 col-form-label col-form-label-sm">Código:</label>
                        <input type="text" id="tablas_permiso_codigo" class="col-sm-8 form-control form-control-sm m-0 p-0" value="" maxlength="15" disabled>
                    </div>
                </form>
              </div>
              <div class="col-md-3">
                <form class="m-0 p-0">
                    <div class="form-group row my-05 py-05">
                        <label for="tablas_permiso_nombre" class="col-sm-4 col-form-label col-form-label-sm">Nombre:</label>
                        <input type="text" id="tablas_permiso_nombre" class="col-sm-8 form-control form-control-sm m-0 p-0" value="" maxlength="15" disabled>
                    </div>
                </form>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3" style="text-align: end;">
                <div class="form-check ml-4 pl-4">
                    <input class="form-check-input" type="checkbox" name="todos" id="todos">
                    <label class="form-check-label col-form-label-sm" for="todos">Seleccionar Todos</label>
                </div>
              </div>
          </div>
          <table id="lista_permisos"></table>
          <div id="lista_permisos_pager" style="text-align:center" > </div>
      </div>
      <div class="modal-footer-full-width modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> 


{{!-- <div class="modal fade" tabindex="-1" role="dialog" id="modal_edit_mantenimientos">
  <div class="modal-dialog-full-width modal-dialog">
    <div class="modal-content-full-width modal-content">
      <div class="modal-header-full-width modal-header">
        <div class="row" >
          <ul class="list-group list-group-horizontal-sm">
            <li class="list-group px-4">
              <h5 class="modal-title" id ="modal_edit_title_mantenimientos">Titulo</h5>
            </li>
          </ul>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-4">
        <div id ="body_edit_mantenimientos"></div>
      </div>
      <div class="modal-footer-full-width modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>  --}}

<script src="/js/mantenimientos/lista_permisos.js"></script>
{{!-- {{> mantenimientos/modal_tablas}} --}}